{% block title %}Greg Suehr{% endblock %}

{% block content %}
<section class="section hero-section">
  <div class="card">
    <img src="{{ asset('images/profile-welcome-bold_small_mingjun-liu-unsplash.jpg') }}" class="card-img img-fluid hero-image"/>
    <div class="card-img-overlay">
      <h1><strong>Hello</strong></h1>
      <p class="intro">You are here early.</a>
      <a href="{{ path('profile_landing') }}" class="btn btn-primary">Okay</a>
    </div>
  </div>
</section>
{% endblock %}
