{% block content %}
<section class="section hero-section">
  <div class="card">
    <div class="card-img-overlay">
      <h1><strong>Hello</strong></h1>
      <p class="intro">Did you receive my birthday invite?</a>
<a href="{{ path('hyperlink_jump', { nextNodeKey: 'birthday' })}}" class="btn btn-primary">(Yes!)</a>
    </div>
  </div>
</section>
{% endblock %}
