{% extends 'profile_base.html.twig' %}

{% block title %}Greg Suehr{% endblock %}

{% block content %}
<section class="hero-section">
  <div class="container">
    <h1><strong>I'm Greg</strong></h1>
    <p class="intro">I write things.</p>
    <img src="{{ asset('images/pittsburgh-warm_small_jordan-faux-unsplash.jpg') }}" class="img-fluid hero-image section">
  </div>
</section>

<section class="summary-section">
  <div class="mx-auto" style="width: 600px;">
    <p></p>
  </div>
</section>

</section>
{% endblock %}
