{% block title %}Greg Suehr | Projects{% endblock %}

{% block content %}
<section class="section hero-section">
  <div class="card">
    <img src="{{ asset('images/pittsburgh-warm_small_jordan-faux-unsplash.jpg') }}" class="card-img img-fluid hero-image">
    <div class="card-img-overlay text-center text-white align-self-center">
      <h1><strong>Projects</strong></h1>
      <p class="intro">Some areas of interest and active projects.
      </o>
  </div>
</section>

<section class="summary-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Writing</h5>
        <p>I write <a>poems</a>, <a>plays</a>, and occassionally <a>hot takes</a> on aesthetics, land ethics, techonology an other topics of interest.</p>
        <h5>Translation</h5>
        <p>I occassionaly produce translations of German and French work.</p>
        <p>My current focus is producing translations of <a>Aesop's Fables</a> (mostly as a reason to explore more of the collection). I am also compiling works of <a>Rilke</a> and <a>Günter Anders</a>.</p>
        <h5>Technology</h5>
        <a>I build and maintain websites for artists and creative organizations.        
    </div>

  </div>
</section>
{% endblock %}
