{% extends 'katzen/base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block main_content %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>

    Actions:
    <ul>
      <li>Modify Item</li>
      <li>Delete Item</li>
    </ul>
{% endblock %}
