{% extends 'professional/base.html.twig' %}
{% block page_title %} Suehr | Acknowledgements{% endblock %}
{% block seo_description %}Very interesting people worth acknowledging.{% endblock %}
{% block main_content %}
<div class="container">
    <a href="/" class="back-link">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd"/>
      </svg>
      Greg Suehr
    </a>
    <h1>Acknowledgements</h1>    
    <div class="section">
      <p>
        Making things is hard. Anyone who has made many things (whether software, or  websites, or songs) knows that to maintain an acceptable
        level of productivity, one eventually must hone the skill of <i>making good use of what has already been made</i>.
      </p>
      <p><br></p>
      <p>
        There are many people to whom I owe acknowledgements.
        But for making things that made making this website much easier, I would like to thank:
        <br>
      </p>
      <p><br></p>      
      <ul>
        <li>Brittany Chiang, whose <a href="https://brittanychiang.com/">portfolio site</a> provided the foundational design for this site.
        </li>
        <li><a href="https://www.usecue.com">Joost van der Shee</a>, who has instructional thoughts about fast, minimal software and whose implementation of various interactive UI components prop up content here and there across my websites.
        </li>
      </ul>
    </div>      
  </div>
{% endblock %}
