<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}Greg Suehr{% endblock %}</title>
  <meta name="description" content="{% block seo_description %}This had a description. In another time, another place it was.{% endblock %}">
  {{ encore_entry_link_tags('portfolio') }}
</head>
<body>
  {% block main_content %}
  <p>This page intentionally left blank.</p>
  {% endblock %}
</body>
</html>
