{% extends 'profile_base.html.twig' %}

{% block title %}Greg Suehr | About Me{% endblock %}

{% block content %}
<section class="hero-section">
  <div class="container">
    <h1><strong>I'm Greg</strong></h1>
    <p class="intro">
      I am a software developer, writer, and translator.
    </p>

    <p class="intro">
      The page is a short note outlining a few select personal facts, i.e. about "me".
      If you are interested in my work or working with me
      My blog (also in the links above), contains an unordered list of both personal and professional thoughts.
    </p>

    <p class="intro">
    </p>

    <p class="intro">...</p>
    
    <img src="{{ asset('images/pittsburgh-warm_small_jordan-faux-unsplash.jpg') }}" class="img-fluid hero-image section">
  </div>
</section>

<section class="summary-section">
  <div class="mx-auto" style="width: 600px;">
  </div>
</section>
{% endblock %}
