{% extends 'profile_base.html.twig' %}

{% block title %}Greg Suehr | For Hire{% endblock %}

{% block content %}
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Hire Me</h2>
        <p>
        </p>

        <h5>Software Development</h5>
        <p>
          Quick link to technical portfolio
        </p>
        
        <h5>Creative Consulting</h5>
        <p>
          Quick link to creative consulting service catalog
          Quick link to stageplay portfolio
        </p>
        
        <h5>Translation Services</h5>
        <p>
          Quick link to translation portfolio
        </p>

        <img src="{{ asset('images/pittsburgh-warm_small_jordan-faux-unsplash.jpg') }}" class="img-fluid hero-image section">
    </div>

  </div>
</section>
{% endblock %}
