parameters:
    katzen_hosts: 'getkatzen.com|getkatzen.local'
    katzen_match: '#^(getkatzen\.com|getkatzen\.local)$#'
    gregishere_hosts: 'gregishere.com|gregishere.local'
    gregishere_match: '#^(gregishere\.com|gregishere\.local)$#'
    gregsuehr_hosts: 'gregsuehr.com|gregsuehr.local'
    gregsuehr_match: '#^(gregsuehr\.com|gregsuehr\.local)$#'
    litmas_hosts: 'mulvaylitmas.com|mulvaylitmas.local'
    litmas_match: '#^(mulvaylitmas\.com|mulvaylitmas\.local)$#'

services:
    _defaults:
        autowire: true
        autoconfigure: true  # Automatically registers your services as commands, event subscribers, etc.
        bind:
          $projectDir: '%kernel.project_dir%'

    ########################################################################
    # auto-registration fallback
    ########################################################################
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'

    ########################################################################
    # Katzen Module
    ########################################################################
    App\Katzen\:
        resource: '../src/Katzen/'
        exclude:
          - '../src/Katzen/Entity/'
          - '../src/Katzen/DataFixtures/'
          - '../src/Katzen/Kernel.php'

    App\Katzen\Dashboard\Widget\:
        resource: '../src/Katzen/Dashboard/Widget/*'
        autowire: true
        autoconfigure: true

    _instanceof:
        App\Katzen\Dashboard\Widget\WidgetInterface:
            tags: ['app.dashboard_widget']

    App\Katzen\Dashboard\Widget\WidgetRegistry:
        arguments:
            $widgets: !tagged_iterator app.dashboard_widget

    App\Katzen\EventSubscriber\AuthenticationExceptionSubscriber:
        tags:
            - { name: kernel.event_subscriber }

    App\Katzen\Messenger\TaskDispatcher:
        arguments:
          - '@messenger.default_bus'
        public: true
    
    App\Katzen\Messenger\TaskExecutor\:
        resource: '../src/Katzen/Messenger/TaskExecutor'
        tags: ['app.async_task_executor']
        autowire: true
        autoconfigure: false

    App\Katzen\Messenger\Handler\AsyncTaskHandler:
        arguments:
            $taskExecutors: !tagged_iterator app.async_task_executor

    App\Katzen\Service\Audit\AuditService:
        arguments:
            $changeLogRepo: '@App\Katzen\Repository\ChangeLogRepository'
            $db: '@doctrine.dbal.default_connection'
            $security: '@security.helper'
            $requestStack: '@request_stack'

    App\Katzen\Service\Audit\AuditConfig:
        # Singleton - config is loaded once
        shared: true

    App\Katzen\Service\Audit\EntityIdExtractor:
        arguments:
            $em: '@doctrine.orm.entity_manager'

    App\Katzen\EventListener\AuditSubscriber:
        arguments:
            $db: '@doctrine.dbal.default_connection'
            $security: '@security.helper'
            $requests: '@request_stack'
            $ids: '@App\Katzen\Service\Audit\EntityIdExtractor'
            $cfg: '@App\Katzen\Service\Audit\AuditConfig'
        tags:
            - { name: 'doctrine.event_subscriber', connection: 'default' }

    App\Katzen\Repository\ChangeLogRepository:
        class: App\Katzen\Repository\ChangeLogRepository
        tags: ['doctrine.repository_service']

    App\Katzen\Service\Cook\RecipeImportService:
        arguments:
            $adapters: !tagged_iterator recipe.adapter

    App\Katzen\Adapter\JSONAdapter:
        tags: ['recipe.adapter']

    App\Katzen\Adapter\CSVAdapter:
        tags: ['recipe.adapter']

    App\Katzen\Adapter\PDFAdapter:
        tags: ['recipe.adapter']

    App\Katzen\Adapter\OCRAdapter:
        tags: ['recipe.adapter']

    App\Katzen\Twig\AppExtension:
        tags: ['twig.extension']

    ########################################################################
    # Profile Module
    ########################################################################
    App\Profile\:
        resource: '../src/Profile/'
        exclude:
            - '../src/Profile/Entity/'

    App\Profile\EventListener\TenantSchemaListener:    
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 100 }

    App\Profile\Middleware\TenantSchemaMiddleware:
        arguments:
            $siteContext: '@App\Profile\Service\SiteContext'
            $enabled: false

    ########################################################################
    # Shared Module
    ########################################################################
    App\Shared\:
        resource: '../src/Shared/'
        exclude:
            - '../src/Shared/Entity/'

    App\Shared\EventSubscriber\TwigEventSubscriber:
        tags: ['kernel.event_subscriber']