@use './theme' as theme;

:root {
  --color-primary: #{theme.$color-primary};
  --color-secondary: #{theme.$color-secondary};
  --color-accent: #{theme.$color-accent};
  --color-surface: #{theme.$color-surface};
  --color-text: #{theme.$color-text};
  --color-border: #{theme.$color-border};
  --color-success: #{theme.$success};
  --color-warning: #{theme.$warning};
  --color-error: #{theme.$danger};
}
