.carousel, .carousel ul {
    aspect-ratio: 1.67; /* Adjust as needed */
}
.carousel ul li {
    aspect-ratio: 1.67; /* Adjust as needed */
}
.carousel {
    position: relative;
    width: 100%;
}
.sr-only {
    display: none;
}
.carousel ul {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: gray;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    cursor: grab;
    user-select: none;
    height: 100%;
}
.carousel ul.grabbing {
    cursor: grabbing;
    scroll-behavior: auto;
}
.carousel ul::-webkit-scrollbar {
    display: none;
}
.carousel ul li {
    position: relative;
    height: 100%;
    list-style: none;
    background: url() center center / cover no-repeat;
    scroll-snap-align: start;
}
.carousel ul li > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.carousel ul li > img {
    object-fit: cover;
}
.carousel ul li > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.carousel ol {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    margin: 0;
    padding: 0;
}
.carousel ol li {
    list-style: none;
    padding: 0 5px;
}
.carousel ol li a {
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    background: transparent;
    border-radius: 100%;
}
.carousel ol li.selected a {
    background: white;
}
.carousel .prev,
.carousel .next {
    user-select: none;
    cursor: pointer;
    font-size: 50px;
    color: white;
    position: absolute;
    left: 0;
    padding: 15px 15px 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    line-height: 0;
    font-family: sans-serif;
    background: none;
    border-radius: 0;
    border: 0;
}
.carousel .next {
    left: auto;
    right: 0;
}