{% extends 'base.html.twig' %}

{% block title %}Recipe Dashboard{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Recipe Dashboard</h1>

    This is the prototype dashboard for the Katzen Recipe Manager. Over time, features will be added to this list:
    <ul>
      <li>Add Item (in progress!)</li>
      <li>View Item</li>
      <li>View Recipe</li>
      <li>Add Recipe</li>
      <li>...and probably more!</li>
    </ul>
</div>
{% endblock %}
