{% extends 'client/base.html.twig' %}

{% block content %}
<div class="container">
  <p>
    Sasha Beal is an artist and designer based in Pittsburgh, Pennsylvania.
  </p>
  <p>
    A multimedia artist, Sasha creates dynamic works with paint, charcoal, and fabrics.   
  </p>
  <p>
    Mykhailo Boychuk 
    Kazymyr Malevych
    Ivan Marchuk
  </p>  
</div>
{% endblock %}
