{% extends 'client/base.html.twig' %}

{% block content %}
<div class="container">
</div>
<div class="container">
  <p>
    Sasha provides a variety of design services, such as:
  </p>
  <ul>
    <li>
      illustrating your book
    </li>
    <li>
      creating custom greeting cards for your special event
    </li>
  </ul>
  <p>
    Contact Sasha today!
  </p>
</div>
{% endblock %}
