{% extends 'litmas/base.html.twig' %}
{% block content %}
<div id="bottlerocket-info">
  <h2>WTF is Sleigher?</h2>
  <p>Sleiger is</p>
  <p>Bringing rock n’ roll holiday revelry to the naughty since 2017</p>
  <a href="https://www.instagram.com/sleigherkrampusband/">I</a>
  <a href="https://www.youtube.com/channel/UCIOfdO6uVS64Bwz8-hxWPQg">Y</a>  
</div>
{% endblock %}
