{% extends 'litmas/base.html.twig' %}
{% block content %}
<h1 class="litmas-title">SLEIGHER KRAMPUS BAND</h1>
<div id="bottlerocket-info">
  {% if textContent %}
  {{ textContent.html |raw }}
  {% else %}  
  <p>
    Sleigher - Krampus Band brings sonic holiday punishment to the naughty
    and revelry (to everyone) since 2017.
  </p>  
  <p>
    This year, Sleigher is providing entertainment for 
    <a href={{ path('litmas_rsvp') }}>LITMAS</a>.
  </p>
  <a href="https://www.instagram.com/sleigherkrampusband/">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://www.youtube.com/channel/UCIOfdO6uVS64Bwz8-hxWPQg">
    <i class="fa-brands fa-youtube"></i>
  </a>
  {% endif %}
</div>
{% endblock %}
