{% extends 'litmas/base.html.twig' %}
{% block content %}
<h1 class="litmas-title">BOTTLEROCKET</h1>
<div id="bottlerocket-address">
  <p>226 Arlington Ave, Pittsburgh, PA 15210</p>
</div>
<div id="bottlerocket-info" class="litmas-details">
  {% if textContent %}
  {{ textContent.html |raw }}
  {% else %}
  <p>
    Bottlerocket Social Hall is a performance venue and bar in Allentown.    
  </p>
  <p>
    With their wood paneled walls, velvet wallpaper, and Rockola Jukebox, Bottlerocket
    is a trip into yesteryear. They serve great hot dogs and host awesome events,
    including <a href={{ path('litmas_rsvp') }}>LITMAS</a>.
  </p>
  <h2>Parking</h2>
  <p>
    Bottlerocket has two free lots at <strong>824 Industry St.</strong> and <strong>205 Allen St.</strong>
  </p>
  <p>
    Check out a map of the block with the lots on Bottlerocket's website under
    <a href="https://www.bottlerocketpgh.com/faq">Where Do I Park?</a>
  </p>
  {% endif %}
</div>
{% endblock %}
