{% extends 'litmas/base.html.twig' %}
{% block content %}
<div id="bottlerocket-info">
  <h2>About Bottlerocket</h2>
  <p>226 Arlington Ave, Pittsburgh, PA 15210</p>
  <p>The Bottlerocket Social Club is an eclectic venue known for its punk shows, basement energy, and ultra-tight sound. Litmas is its final form.</p>
  <p>Parking is street-level and limited. Carpool if you can. There will be signs.</p>
</div>
{% endblock %}
