{% extends 'hyper_link/base.html.twig' %}

{% block content %}
    <div class="scene" id="birthdayWhere">
        <div class="dialogue">
            <p class="character-dialogue" id="dialogue1">Probably somewhere nearby!</p>
        </div>
        <div class="choices hidden">
            <a class="choice canonical" href="{{ path('hyperlink_jump', { nextNodeKey: 'birthdayConfirm' }) }}">Okay?</a>
            <a class="choice" href="{{ path('hyperlink_jump', { nextNodeKey: 'birthdayWhen' }) }}">When it it?</a>       
        </div>
    </div>
{% endblock %}

