{% extends 'hyper_link/base.html.twig' %}

{% block content %}
<div class="scene active" id="scene-1iii">
  <div class="dialogue">
    <p>Woah!</p>
    <p>Seriously. You need to stop clicking links.</p>
    <p>Do you have any idea where these links have been? Where they <a>go</a>?</p>
    <p>Just stop. <a href="{{ path('hyperlink_jump', { nextNodeKey: 'prologue4' }) }}">Okay?</span></p>
  </div>
</div>
{% endblock %}

