{% extends 'hyper_link/base.html.twig' %}

{% block content %}
<div class="id=prologue2">
  <div>
    <h1>Um?</h1>
    <p>Why would you click that link. That's a very strange thing to do. <a href="{{ path('hyperlink_jump', {'nextNodeKey': 'prologue3'}) }}">Okay</a></p>
  </div>
</div>
{% endblock %}
