{% extends 'hyper_link/base.html.twig' %}

{% block content %}
<div class="id=prologue1">
  <div>
    <h1>Hello</h1>
    <p>You are here early.  <a href="{{ path('hyperlink_jump', { nextNodeKey: 'prologue2' }) }}">Okay.</a></p>
  </div>
</div>
{% endblock %}
