{% extends 'seer/base.html.twig' %}

{% block main_content %}
<p>
  Whether you have a detailed vision or just know you need something better than a template, I'd love to hear about your project.
</p>
<p>
  [Contact Form or Email CTA]
</p>
{% endblock %}
