{% extends 'seer/base.html.twig' %}

{% block main_content %}
<p>Hi</p>

<p>The basics</p>
<ul class="accordion">
    <li>
        <strong>How much do you charge to build a website?</strong>
        <p>&nbsp;</p>
    </li>
    <li>
        <strong>How long will it take to complete my website?</strong>
        <p>&nbsp;</p>
    </li>
    <li>
      <strong>What types of businesses do you work with?</strong>
      <p>&nbsp;</p>
    </li>
    <li>
        <strong>Do I have to be in Pittsburgh to work with you?</strong>
        <p>&nbsp;</p>
    </li>
</ul>
<p>The nitty gritty</p>
<ul class="accordion">
    <li>
        <strong>Do you provide website hosting and domain?</strong>
	<p>&nbsp;</p>
    </li>
    <li>
      <strong>Will my website be mobile-friendly?</strong>
      <p>&nbsp;</p>
    </li>
    <li>
      <strong>How much input do I have in the web design process?</strong>
      <p>&nbsp;</p>
    </li>
    <li>
      <strong>Who writes the text/content for the website?</strong>
      <p>&nbsp;</p>
    <li>
      <strong>What if I don't have any images to provide?</strong>
      <p>&nbsp;</p>
    </li>
</ul>
<p>The long view</p>
<ul class="accordion">
    <li>
        <strong>Will I be able to update the site myself?</strong>
        <p>&nbsp;</p>
    </li>
    <li>
        <strong>Will you maintain our website for us?</strong>
	<p>&nbsp;</p>
    </li>
    <li>
      <strong>What if I need help on my site down the road?</strong>
      <p>&nbsp;</p>
    </li>
</ul>
{% endblock %}
