{% extends 'base.html.twig' %}

{% block title %}Notify Me!{% endblock %}

{% block body %}
    <h2>Register to be notified when you can join!</h2>

    {% for recipient in recipients %}
        <h4>{{ recipient }}</h4>
    {% endfor %}
{% endblock %}
