{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>

    Actions:
    <ul>
      <li>Modify Item</li>
      <li>Delete Item</li>
    </ul>
{% endblock %}
